{% load static %}

<head>
    
    {# CSS #}
    
    <link rel="stylesheet" href="{% static 'mypage/css/style.css' %}">
    {# load materialize css and tell browser site is mobile friendly #}
    <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/>
    {% block csslinks %} {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    
    {# favicons #}
    
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'mypage/images/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'mypage/images/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'mypage/images/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'mypage/images/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'mypage/images/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'mypage/images/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'mypage/images/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'mypage/images/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'mypage/images/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'mypage/images/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'mypage/images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'mypage/images/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'mypage/images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'mypage/images/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'mypage/images/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    
    {% block title %}<title>Robin Graf</title>{% endblock %}
</head>
<body>
  
    {# Menu #}
    
    <ul id="dropdown0" class="dropdown-content">
      <li><a href="/PSO">PSO</a></li>
      <li class="divider"></li>
      <li><a href="#!">two</a></li>
      <li class="divider"></li>
      <li><a href="#!">three</a></li>
    </ul>
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="/PSO">PSO</a></li>
      <li class="divider"></li>
      <li><a href="/snake">Snake</a></li>
      <li class="divider"></li>
      <li><a href="#!">three</a></li>
    </ul>
    <nav>
      <div class="nav-wrapper deep-orange lighten-2">
        <a href="#" class="brand-logo">Robin Graf</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/art">Art</a></li>
          <li><a class="dropdown-button0" href="#!" data-activates="dropdown0">More<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/art">Art</a></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">More<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </nav>
    
    
    {# Content #}
    
    <div id="content-container">
      {% block content %}
      {% endblock %}
    </div>
    
    
    {# Footer #}
    
    <footer class="page-footer deep-orange darken-1">
      <div class="container ">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Contact Me</h5>
            <p class="grey-text text-lighten-4">If you are curious or have any questions, feel free to contact me at <a class="grey-text text-lighten-3" href="mailto:email@robingraf.co.uk">email@robingraf.co.uk</a></p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3 valign-wrapper" href="/">Home</a></li>
              <li><a class="grey-text text-lighten-3 valign-wrapper" href="https://www.linkedin.com/in/robin-graf/">LinkedIn &nbsp;<img src="{% static 'mypage/images/icons/iconmonstr-linkedin-4.svg' %}" style="fill:#eee;"></a></li>
              <li><a class="grey-text text-lighten-3 valign-wrapper" href="https://github.com/Weetabixx">GitHub &nbsp;<img src="{% static 'mypage/images/icons/iconmonstr-github-1.svg' %}" style="fill:#eee;"></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2017 Robin Graf
        <a class="grey-text text-lighten-4 right" href="#!">Help</a>
        </div>
      </div>
    </footer>
    
    {# load jquery before materialize, and at end of page #}
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'mypage/javascript/javascript.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>